<div class="row d-flex w-100  justify-content-center align-items-center">
  <div class="col-lg-4">
    <div class="list-group">
      <a class="list-group-item list-group-item-action" (click)="applySound('note1')"  style="background: red;"></a>
      <a class="list-group-item list-group-item-action" (click)="applySound('note2')" style="background: orange;"></a>
      <a class="list-group-item list-group-item-action" (click)="applySound('note3')" style="background: yellow;"></a>
      <a class="list-group-item list-group-item-action" (click)="applySound('note4')" style="background: green;"></a>
      <a class="list-group-item list-group-item-action" (click)="applySound('note5')" style="background: teal;"></a>
      <a class="list-group-item list-group-item-action" (click)="applySound('note6')" style="background: blue;"></a>
      <a class="list-group-item list-group-item-action" (click)="applySound('note7')" style="background: purple;"></a>
    </div>
  </div>
</div>

<!-- 
<audio controls>
  <source src="../assets/sounds/note1.wav" >
</audio> -->